/*  CSS del projecte grid 1
    Xavi Blanes - Curs 24/25   */

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  gap: 3px;
  background-color:  #789 ;
  padding: 5px;
}
.container > div {
  background-color:  #dfa;
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}
.container > div.menu {
  grid-area: menu;
}
.menu a {
  color: tomato;
  text-decoration: none;
}
.menu a:hover {
  padding-left:2px;
  text-decoration: none;
  text-transform:uppercase;
}
.container > div.content {
  grid-area: content;
}
.container > div.footer {
  grid-area: footer;
}


@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .container {
  	grid-template-areas:
    "header"
    "menu"
    "content"
    "footer";
    grid-template-columns: 1fr;
	}
}

